USE [MANAGERBOOKSTORE]
GO
/****** Object:  Table [dbo].[THELOAI]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THELOAI](
	[MaTL] [nvarchar](100) NOT NULL,
	[TenTL] [nvarchar](255) NULL,
 CONSTRAINT [PK_THELOAI] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'TL0000001', N'Tiếng anh chuyên ngành tin học')
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'TL0000002', N'Sinh học')
INSERT [dbo].[THELOAI] ([MaTL], [TenTL]) VALUES (N'TL0000003', N'Toán học')
/****** Object:  Table [dbo].[DAUSACH]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DAUSACH](
	[MaDauSach] [nvarchar](20) NOT NULL,
	[TenSach] [nvarchar](255) NULL,
	[MaTL] [nvarchar](100) NULL,
 CONSTRAINT [PK_DAUSACH] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DAUSACH] ([MaDauSach], [TenSach], [MaTL]) VALUES (N'DS0000001', N'Con đường tình yêu và những giấc mơ', N'TL0000003')
INSERT [dbo].[DAUSACH] ([MaDauSach], [TenSach], [MaTL]) VALUES (N'DS0000002', N'Sinh học và môi trường', N'TL0000002')
INSERT [dbo].[DAUSACH] ([MaDauSach], [TenSach], [MaTL]) VALUES (N'DS0000003', N'Sinh học và môi trường', N'TL0000002')
/****** Object:  Table [dbo].[TACGIA]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACGIA](
	[MaTG] [nvarchar](20) NOT NULL,
	[TenTG] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_TACGIA] PRIMARY KEY CLUSTERED 
(
	[MaTG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TACGIA] ([MaTG], [TenTG], [DiaChi]) VALUES (N'TG0000001', N'Toney Lee', N'Binh Quy - Thang Binh - Quang Nam')
INSERT [dbo].[TACGIA] ([MaTG], [TenTG], [DiaChi]) VALUES (N'TG0000002', N'Thanh Trang', N'Quang Nam')
/****** Object:  Table [dbo].[CHITIETTACGIA]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETTACGIA](
	[MaDauSach] [nvarchar](20) NOT NULL,
	[MaTG] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_CHITIETTACGIA] PRIMARY KEY CLUSTERED 
(
	[MaDauSach] ASC,
	[MaTG] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETTACGIA] ([MaDauSach], [MaTG]) VALUES (N'DS0000001', N'TG0000001')
INSERT [dbo].[CHITIETTACGIA] ([MaDauSach], [MaTG]) VALUES (N'DS0000001', N'TG0000002')
INSERT [dbo].[CHITIETTACGIA] ([MaDauSach], [MaTG]) VALUES (N'DS0000003', N'TG0000001')
/****** Object:  Table [dbo].[NHAXUATBAN]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAXUATBAN](
	[MaNXB] [nvarchar](20) NOT NULL,
	[TenNXB] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
 CONSTRAINT [PK_NHAXUATBAN] PRIMARY KEY CLUSTERED 
(
	[MaNXB] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [DiaChi]) VALUES (N'NXB0000001', N'Bạch Kim', N'Bình Thạnh - TP Hồ Chí Minh')
INSERT [dbo].[NHAXUATBAN] ([MaNXB], [TenNXB], [DiaChi]) VALUES (N'NXB0000002', N'Kim Đồng', N'Quận 1 - TP Hà Nội')
/****** Object:  Table [dbo].[SACH]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[MaSach] [nvarchar](20) NOT NULL,
	[MaDauSach] [nvarchar](20) NULL,
	[MaNXB] [nvarchar](20) NULL,
	[NamXB] [int] NULL,
	[GiaNhap] [money] NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SACH] ([MaSach], [MaDauSach], [MaNXB], [NamXB], [GiaNhap], [SoLuong]) VALUES (N'SA0000003', N'DS0000004', N'NXB0000001', 1993, 0.0000, 0)
INSERT [dbo].[SACH] ([MaSach], [MaDauSach], [MaNXB], [NamXB], [GiaNhap], [SoLuong]) VALUES (N'SA0000004', N'DS0000001', N'NXB0000002', 1993, 10000.0000, 0)
INSERT [dbo].[SACH] ([MaSach], [MaDauSach], [MaNXB], [NamXB], [GiaNhap], [SoLuong]) VALUES (N'SA0000005', N'DS0000004', N'NXB0000002', 1993, 100000.0000, 2000)
/****** Object:  Table [dbo].[TONKHO]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TONKHO](
	[MaTonKho] [nvarchar](20) NOT NULL,
	[MaSach] [nvarchar](20) NULL,
	[TonDau] [int] NULL,
	[TonCuoi] [int] NULL,
	[PhatSinh] [int] NULL,
	[ThangNam] [date] NULL,
 CONSTRAINT [PK_TONKHO] PRIMARY KEY CLUSTERED 
(
	[MaTonKho] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nvarchar](20) NOT NULL,
	[TenKH] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TienNo] [money] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [TienNo]) VALUES (N'KH0000001', N'Lê Đức Sang', N'Nam', CAST(0xA2910000 AS SmallDateTime), N'0978071865', N'ducsangpro.93@gmail.com', N'Quảng Nam', 0.0000)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi], [TienNo]) VALUES (N'KH0000002', N'Trần Thị Thanh Trang', N'Nữ', CAST(0xA2910000 AS SmallDateTime), N'01642779979', N'ducsangpro.93@gmail.com', N'Quảng Nam', 0.0000)
/****** Object:  Table [dbo].[CHUCVU]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCVU](
	[MaCV] [nvarchar](20) NOT NULL,
	[TenCV] [nvarchar](255) NULL,
 CONSTRAINT [PK_CHUCVU] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV0000001', N'Quản lý')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV0000002', N'Nhân viên')
INSERT [dbo].[CHUCVU] ([MaCV], [TenCV]) VALUES (N'CV0000003', N'Giám đốc')
/****** Object:  Table [dbo].[CONGNO]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONGNO](
	[MaCongNo] [nvarchar](20) NOT NULL,
	[MaKH] [nvarchar](20) NULL,
	[NoDau] [money] NULL,
	[NoCuoi] [money] NULL,
	[PhatSinh] [money] NULL,
	[ThangNam] [date] NULL,
 CONSTRAINT [PK_CONGNO] PRIMARY KEY CLUSTERED 
(
	[MaCongNo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](255) NULL,
	[GioiTinh] [nvarchar](5) NULL,
	[NgaySinh] [date] NULL,
	[Email] [nvarchar](255) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[NgayVaoLam] [date] NULL,
	[MaCV] [nvarchar](20) NULL,
	[UserName] [nvarchar](255) NULL,
	[Password] [nvarchar](255) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [Email], [DienThoai], [DiaChi], [NgayVaoLam], [MaCV], [UserName], [Password]) VALUES (N'NV0000001', N'Toney Lee', N'Nam', CAST(0xE2370B00 AS Date), N'ducsangpro.93@gmail.com', N'0978071865', N'Quảng Nam', CAST(0xF5370B00 AS Date), N'CV0000003', N'', N'')
INSERT [dbo].[NHANVIEN] ([MaNV], [TenNV], [GioiTinh], [NgaySinh], [Email], [DienThoai], [DiaChi], [NgayVaoLam], [MaCV], [UserName], [Password]) VALUES (N'NV0000002', N'Toney Lee', N'Nam', CAST(0xE2370B00 AS Date), N'ducsangpro.93@gmail.com', N'0978071865', N'Tp Hà Nội', CAST(0xF5370B00 AS Date), N'CV0000003', N'', N'')
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MaPhieuThu] [nvarchar](20) NOT NULL,
	[MaKH] [nvarchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
	[SoTienThu] [money] NULL,
	[NgayThu] [date] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuThu] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPSACH]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPSACH](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayNhapSach] [date] NULL,
	[TongSoLuong] [int] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_PHIEUNHAPSACH] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PHIEUNHAPSACH] ([MaPhieuNhap], [MaNV], [NgayNhapSach], [TongSoLuong], [TongTien]) VALUES (N'PN0000001', N'NV0000001', CAST(0xF9370B00 AS Date), 0, 0.0000)
INSERT [dbo].[PHIEUNHAPSACH] ([MaPhieuNhap], [MaNV], [NgayNhapSach], [TongSoLuong], [TongTien]) VALUES (N'PN0000002', N'NV0000001', CAST(0xF9370B00 AS Date), 0, 0.0000)
INSERT [dbo].[PHIEUNHAPSACH] ([MaPhieuNhap], [MaNV], [NgayNhapSach], [TongSoLuong], [TongTien]) VALUES (N'PN0000003', N'NV0000001', CAST(0xF9370B00 AS Date), 0, 100.0000)
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MaPhieuNhap] [nvarchar](20) NOT NULL,
	[MaSach] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETPHIEUNHAP] ([MaPhieuNhap], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'PN0000001', N'SA0000004', 0, 0.0000, 0.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MaPhieuNhap], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'PN0000002', N'SA0000005', 100, 0.0000, 0.0000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MaPhieuNhap], [MaSach], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'PN0000003', N'SA0000005', 10, 100000.0000, 1000000.0000)
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaKH] [nvarchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
	[NgayHD] [date] NULL,
	[TongSoLuong] [int] NULL,
	[TongTien] [money] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 12/25/2013 16:07:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MaHD] [nvarchar](20) NOT NULL,
	[MaSach] [nvarchar](20) NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSach] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_HOADON]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOADON] ([MaHD])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
/****** Object:  ForeignKey [FK_CHITIETHOADON_SACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_SACH]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUNHAP_PHIEUNHAPSACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAPSACH] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAPSACH] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_PHIEUNHAPSACH]
GO
/****** Object:  ForeignKey [FK_CHITIETPHIEUNHAP_SACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP] CHECK CONSTRAINT [FK_CHITIETPHIEUNHAP_SACH]
GO
/****** Object:  ForeignKey [FK_CHITIETTACGIA_DAUSACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETTACGIA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTACGIA_DAUSACH] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DAUSACH] ([MaDauSach])
GO
ALTER TABLE [dbo].[CHITIETTACGIA] CHECK CONSTRAINT [FK_CHITIETTACGIA_DAUSACH]
GO
/****** Object:  ForeignKey [FK_CHITIETTACGIA_TACGIA1]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CHITIETTACGIA]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETTACGIA_TACGIA1] FOREIGN KEY([MaTG])
REFERENCES [dbo].[TACGIA] ([MaTG])
GO
ALTER TABLE [dbo].[CHITIETTACGIA] CHECK CONSTRAINT [FK_CHITIETTACGIA_TACGIA1]
GO
/****** Object:  ForeignKey [FK_CONGNO_KHACHHANG]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[CONGNO]  WITH CHECK ADD  CONSTRAINT [FK_CONGNO_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[CONGNO] CHECK CONSTRAINT [FK_CONGNO_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_DAUSACH_THELOAI]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[DAUSACH]  WITH CHECK ADD  CONSTRAINT [FK_DAUSACH_THELOAI] FOREIGN KEY([MaTL])
REFERENCES [dbo].[THELOAI] ([MaTL])
GO
ALTER TABLE [dbo].[DAUSACH] CHECK CONSTRAINT [FK_DAUSACH_THELOAI]
GO
/****** Object:  ForeignKey [FK_HOADON_KHACHHANG]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_HOADON_NHANVIEN]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_NHANVIEN_CHUCVU]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_CHUCVU] FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUCVU] ([MaCV])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_CHUCVU]
GO
/****** Object:  ForeignKey [FK_PHIEUNHAPSACH_NHANVIEN]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[PHIEUNHAPSACH]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAPSACH_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAPSACH] CHECK CONSTRAINT [FK_PHIEUNHAPSACH_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_PHIEUTHUTIEN_KHACHHANG]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_KHACHHANG]
GO
/****** Object:  ForeignKey [FK_PHIEUTHUTIEN_NHANVIEN]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[PHIEUTHUTIEN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUTHUTIEN] CHECK CONSTRAINT [FK_PHIEUTHUTIEN_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_SACH_DAUSACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_DAUSACH] FOREIGN KEY([MaDauSach])
REFERENCES [dbo].[DAUSACH] ([MaDauSach])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_DAUSACH]
GO
/****** Object:  ForeignKey [FK_SACH_NHAXUATBAN]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [FK_SACH_NHAXUATBAN] FOREIGN KEY([MaNXB])
REFERENCES [dbo].[NHAXUATBAN] ([MaNXB])
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [FK_SACH_NHAXUATBAN]
GO
/****** Object:  ForeignKey [FK_TONKHO_SACH]    Script Date: 12/25/2013 16:07:04 ******/
ALTER TABLE [dbo].[TONKHO]  WITH CHECK ADD  CONSTRAINT [FK_TONKHO_SACH] FOREIGN KEY([MaSach])
REFERENCES [dbo].[SACH] ([MaSach])
GO
ALTER TABLE [dbo].[TONKHO] CHECK CONSTRAINT [FK_TONKHO_SACH]
GO
